body{
    height: 100vh;
    
}
#list{
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
.another{
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
div{
    width: 200px;
    height: 200px;
    border: 2px solid red;
}